<% layout("/layouts/boilerplate") %>
    <div class="row">
        
        <div >

        </div>
        <% for(let list of allListings){ %>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <div class="card custom-card">
                    <a href="/hr/listing/<%= list._id %>">
                        <img src="<%= list.image.url %>" class="card-img-top" alt="Image of <%= list.name %>">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><%= list.name %></h5>
                        <p class="card-text"><%= list.description %></p>
                        <a href="/hr/listing/<%= list._id %>" class="btn btn-primary">Go To <%= list.name %> Shop</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    
    