<% layout("/layouts/boilerplate") %>
<div class="container-fluid" style="margin: 0;">
    <div class="row g-1">
        <% for(let list of allListings){ %>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3"> 
                <div class="card custom-card h-60">
                    <a href="/hr/listing/<%= list._id %>">
                        <img src="<%= list.image.url %>" class="card-img-top responsive-img" alt="Image of <%= list.name %>" style="height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title responsive-name"><%= list.name %></h5>
                        <p class="card-text responsive-description"><%= list.description %></p>
                        <a href="/hr/listing/<%= list._id %>" class="btn btn-primary responsive-button ">Go To <%= list.name %> Shop</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
